<a href="/" class="headertitle d-flex justify-content-center align-items-center eagle-lake-regular">
    <img src="/images/book-notes-logo.png" alt="website logo" height="100px">
    <h1>Book Notes</h1></a>